.aboutme h1,
  .resume h1,
  .skills h1,
  .contact-us h1 {
    padding-top: 3%;
    font-size: 3rem;
    margin-top:3vh;
  }

.title {
  color: #fff;
  font-size: 32pt;
  line-height: 36pt;
  position: absolute;
  top: 38%;
  width: 100%;
  text-align: center;

  span {
    color: #e31b6d;
  }

  button {
    transition: all 0.5s ease-in 3s;
    animation: 2s 2s infinite bounce;
    align-items: center;
    background-size: 14px auto;
    border: 2px solid #fff;
    color: #fff;
    font-size: 2vw;
    width: fit-content;
    transform: scale(1);
    z-index: 3;
    -webkit-animation: 2s 2s infinite bounce;
    -webkit-transition: 0.2s ease-in;
    margin-top: 10px;
    padding: 10px 40px 12px 15px;
    position: relative;
    background: transparent;
    font-family: monospace;
    cursor: pointer;

    .mat-icon {
      transition: transform .3s;
      font-weight: 900;
      vertical-align: sub;
    }
  }

  button:hover {
    background-color: #04c2c9;
    border-color: #04c2c9;

    .mat-icon {
      transform: rotate(90deg);
      transition: transform .3s;
    }
  }
}

.aboutme {
  overflow: auto;
  padding: 2% 8%;
  background: linear-gradient(73deg, #9fadc3 5%, #a5b5cf 27%, #bac8e2 68%, #d0d8e3 88%);
  border-top: 10px solid #e31b6d;
  box-shadow: 0 3px 6px #000000;

  h1 {
    text-align: center;
    color: #000000;
    text-transform: uppercase;
  }

  .aboutme-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // text-align: justify;
    padding: 1rem 0;
    flex-wrap: wrap;

    .image {
      flex: 1;
      max-width: 300px;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }

    .text {
      flex: 2;
      padding-left: 2rem;
      h4 {
        text-transform: uppercase;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
      }

      p {
        font-size: 20px;
        color: #000;
        line-height: 38px;
      }
    }
  }

  .hobbies {
    margin-top: 2rem;

    .header {
      font-size: 20px;
      font-weight: 600;
      width: 100%;
      text-align: center;
      color: #000;
    }

    .items {
      display: flex;
      flex-wrap: wrap;

      .item {
        background: #007bff;
        color: #fff;
        padding: 0.5rem 1rem;
        margin: 0.5rem;
        border-radius: 0.5rem;
        box-shadow: 0 3px 6px #000000;
        color: #fff;
        transition: box-shadow .25s ease 0s;
        cursor: pointer;
      }
    }
  }
}


.resume {
  background: linear-gradient(90deg, #3b7581, #41418b 71%, #3b7581);
  padding: 4% 0 1%;
  color: #fff;
  overflow: hidden;
  box-shadow: #888 0 0 5px 5px;
  padding: 2% 8%;

  .divider {
    background-color: white;
  }

  .content {
    padding: 0% 10%;

    .company {
      display: block;
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: 400;
      color: #bfbfbf;
    }

    .timeline:before {
      top: 20px;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 2px;
      background-color: #e6e6e6;
      left: 50%;
      margin-left: 0;

      li:before {
        content: " ";
        display: table;
      }
    }

    .timeline>li:before {
      content: " ";
      display: table;
    }

    .timeline>li:after,
    .timeline>li:before {
      content: " ";
      display: table;
      clear: both;
    }

    .timeline {
      list-style: none;
      overflow: hidden;
      padding: 20px 0;
      position: relative;

      h3 {
        line-height: 110%;
        font-weight: 400;
        font-size: 2.92rem;
        margin: 1.9466666667rem 0 1.168rem;
      }

      .timeline-heading>div h4 {
        background: #e6e6e6;
        border-radius: 4px;
        color: #000;
        display: inline-block;
        font-size: 1vw;
        font-weight: 700;
        letter-spacing: .5rem;
        line-height: 110%;
        margin: 1.9466666667rem 0 1.168rem;
        padding: 1rem;
        text-transform: uppercase;
      }

      .timeline-unverted {
        text-align: right;
      }

      .timeline-inverted>.timeline-panel {
        float: right;
        text-align: left;
        position: relative;
        left: 1%;
      }

      li {
        list-style-type: none;
        margin-bottom: 20px;
        position: relative;
        display: list-item;
        text-align: -webkit-match-parent;

        .timeline-panel {
          width: 45%;
          float: left;
          margin-bottom: 0;
          position: relative;
          border-radius: 4px;
        }

      }

      .timeline-badge {
        color: #fff;
        width: 3rem;
        height: 3rem;
        line-height: 50px;
        font-size: 1.4em;
        text-align: center;
        position: absolute;
        top: 40px;
        left: 50%;
        margin-left: -21px;
        background-color: #023f5c;
        z-index: 100;
        display: table;
        border-radius: 50%;

        mat-icon {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

    .download-cv {
      button {
        background-color: #1890ff;
      }
    }
  }
}

.skills {
  background: #9fadc3;
  font-size: 1rem;
  background: linear-gradient(73deg, #9fadc3 5%, #a5b5cb 51%, #89a1c4 95%);
  box-shadow: 0 0 5px 5px #888;
  color: #000;
  overflow: hidden;
  -moz-box-shadow: 0 0 5px 5px #888;
  -webkit-box-shadow: 0 0 5px 5px #888;

  .content {
    padding: 0 6%;

    .cards {
      width: 100%;
      padding-top: 1%;
      display: flex;
      flex-wrap: wrap;

      mat-card {
        width: 18vw;
        background-color: transparent;
        float: left;
        margin: 10px;

        .logo {
          // padding: 0.2rem 2rem;

          i {
            font-size: 10em;
          }

          .skill-name {
            padding-top: 6px;
          }
        }

      }
    }
  }
}

.contact-us {
  color: #f0f8ff;
  padding: 2% 0 1%;
  font-size: 1.5rem;
  background: #36adc6;
  background: linear-gradient(90deg, #3b7581, #41418b 71%, #3b7581);
  box-shadow: 0 0 5px 5px #888;

  .content {
    padding: 0% 7%;

    .divider {
      background-color: white;
    }

    .send-button {
      margin-top: 2%;
    }
    button {
      background: transparent;
      border: none;
      color: #ccc;
      cursor: pointer;
      width: 4%;
    }
    .form-data {
      margin-top: 3%;
      .row {
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
      }
      .center-align {
        text-align: center;
      }
      .second-para {
        display: flex;
      }

      .text-right {
        text-align: right;
      }
      .text-left {
        text-align: left;
      }
      .text-center{
        text-align: center;
      }


      .p-10{
        padding: 10px;
      }

      input, textarea {
        padding: 0;
        line-height: 1.5;
        width: 100%;
        border: none;
        background: transparent;
        border-bottom: 2px dashed white;
        color: rgba(255, 255, 255, 0.5);
        outline: none;
        font-family: Lato, georgia;
        font-size: 25px;
        text-align: center;
        color: hsla(0, 0%, 100%, .5);
      }

      .col {
        float: left;
        width: 30%;
        padding: 10px;
      }
      .rightToCenterText {
        text-align: right;
      }
      .right-align {
        text-align: right;
      }
      .leftToCenterText {
        text-align: left;
      }

      .left-align {
        text-align: left;
      }
      .center-align {
        text-align: center;
      }

      .row:after {
        content: "";
        display: table;
        clear: both;
      }
    }

  }
}



@media (max-width: 768px) {
  .title {
    font-size: 20pt;
    line-height: 24pt;
  }

  .aboutme-content {
    flex-direction: column;
    .text {
      p {
        line-break: anywhere;
        line-height: 20px;
      }
    }
  }

  .aboutme .text {
    padding-left: 0;
  }
.resume {
  .content {

    .timeline:before {
      left: 8vw;
      margin-left: 0;
    }
    .timeline {

      .timeline-heading>div h4 {
        font-size: 20px !important;
        letter-spacing: 6px  !important;
        padding: 10px  !important;
      }
      .timeline-inverted>.timeline-panel {
        width: 100%;
        float: none;
      }

      .timeline-badge {
        left: 10%;
      }
    }
  }
}

  .timeline > li {
    margin-bottom: 30px;
  }

  .timeline-panel {
    width: 90%;
  }

  .timeline-inverted .timeline-panel {
    // float: right;
    width: 100%;
    width: 82%;
    margin-left: 17vw;
  }

  .skills .cards mat-card {
    width: 45%;
    margin: 0.5rem;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 16pt;
    line-height: 20pt;
    button {
      width: 200px;
      font-size: 20px;
    }
  }
  .aboutme {
    p {
      line-height: 21px;
    }
  }

  .aboutme .aboutme-content {
    padding: 1rem;
  }

  .aboutme .aboutme-content .text {
    padding-left: 0;
  }

  .hobbies .header {
    font-size: 2rem;
  }

  .aboutme h1,
  .resume h1,
  .skills h1,
  .contact-us h1 {
    padding-top: 3%;
    font-size: 3rem;
    margin-top:3vh;
  }

  .resume {
    .content {
      padding: 0px;
      .download-cv {
        margin-bottom: 4vw;
      }
      .timeline:before {
        left: 8vw;
        margin-left: 0;
      }
      .timeline {
        .timeline-heading>div h4 {
          font-size: 20px !important;
          letter-spacing: 6px  !important;
          padding: 10px  !important;
          text-align: left;
        }
        .timeline-unverted {
          text-align: left;
      }
      li {
        float: left;
        .timeline-panel {
          width: 100%;
          width: 82%;
          margin-left: 17vw;
        }

        .timeline-badge {
          left: 10%;
        }
      }
      }
    }
  }

  .skills {
    .content {
      .cards {
        mat-card {
          width: 28vw;
          height: 15vh;
          .logo {
            i {
              font-size: 104px;
            }
          }
        }
      }
    }
  }

  .skills .cards mat-card {
    width: 100%;
    margin: 0.5rem 0;
  }

  .contact-us .form-data {
    padding: 1rem;
    .col {
      display: block;
      width: 100% !important;
      text-align: center !important;
    }
  }

  .inputBox {
    padding: 0.5rem;
  }

  .contact-us .form-data .send-button button {
    padding: 0.5rem 1rem;
    width: 20%;
  }
}
